
.blogMain {
    h2 {
        font-weight: bold;
        padding-bottom: 30px;
    }
    .sectionSeperatorLine {
        border: 1px solid rgba($color: $black, $alpha: 0.2);
        margin: 10px 0;
    }
    .wrapper {
        width: 80%;
    }
    .articleBlog{
        padding-top: 50px;
        h3 {
            font-weight: bold;
        }
        .insiteLinks {
            font-size: 1rem;
            
            a {
                font-size: 0.8rem;
                opacity: 0.8;
            }
            
        }
        .authorInfo {
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
            }
            .elementHeading {
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 10px;
                
            }
            .elementInfo {
                opacity: 0.8;
                font-size: 0.8rem;
            }

            .authorImgName {
                display: flex;
                align-items: center;
                .authorImg img {
                    border-radius: 50%;
                }
                .authorNamePosition {
                    padding-left: 10px;
                    
                }
            }
            .dateCategoryTags {
                display: flex;
                align-items: center;
                div {
                    padding: 0 15px;
                }
            }

        }
    }
}

.blogMain {
    article {
        h4 {
            text-transform: none;
        }
        p {
            font-size: 1rem;
            opacity: 0.85;
        }
    }
    .shareIcons {
        display: flex;
        align-items: center;
        p {
            text-transform: uppercase;
            padding-right: 10px;
        }
        .socialFaIcons {
            display: flex;
            a {
                padding: 0 7px;
            }
        }
    }
}

.blogMain {
    .relatedPosts {
        padding-top: 60px;
        padding-bottom: 60px;
        
        .relatedPostContainers {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            a {
                width: calc( 96% / 3 );
                p {
                    text-transform: uppercase;
                }
            }
        }

    }
}

.blogMain {
    .blogComments {
        padding-bottom: 60px;
    }
    .individualComment {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        position: relative;
        .commentInfo {
            background-color: $whiteTwo;
            padding: 20PX;
            flex-basis: 87%;
            p {
                margin: 0;
            }
        }
        .commentImg img {
            border-radius: 50%;
        }
        .commentorName {
            font-style: bold;
            padding-bottom: 1rem;
            span {
                font-style: italic;
                font-size: 0.9rem;
                color: #808000;
            }
        }
        .commentText {
            color: rgba($color: $black, $alpha: 0.8);
            font-size: 1rem;
            padding-bottom: 1rem;
        }
        .commentDate {
            color: rgba($color: $black, $alpha: 0.7);
            font-size: 0.8rem;
            padding-bottom: 1rem;
        }

    }

    // The tiny triangle on the left of the bubble
    .individualComment::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 30%;
        left: 9.2%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 20px solid transparent;
        border-right: 29px solid $whiteTwo;
    } 
}
