// background  and header styling
header {
    height: 100vh;
    background-image: url(../assets/home-1.jpeg);
    background-position: center;
    background-size: cover;

}

// Making sure the hamburger menu is not seen until required.
.hamburgerMenu {
    display: none;
}

// Header styling for contact page
.contactNav{
    padding-bottom: 30px;
}

// changes that are not the same as home header styling
.contactHeader {
    background-image: url(../assets/contact-1.jpeg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: relative;
    .line {
        display: block;
        position: absolute;
        border: $black solid 1px;
        width: 50px;
        height: 1px;
        bottom: 100px;
        left: 20%;
    }
    h3 {
        font-size: 2.5rem;
        position: absolute;
        font-weight: bold;
        margin: 10px 0 0 0;
        bottom: -35px;
        left: 20%;
    }
}


// change of bg image on blog page
.blogHeader {
    background-image: url(../assets/blog-1.jpeg);
}