// Vertical line in the center of the page between the header and the first section

main {
    position: relative;
    .lineBetweenHeaderMain {
        content: "";
        position: absolute;
        top: -1%;
        left: 50%;
        text-align: center;
        width: 0;
        height: 12vh;
        border: 0.5px solid rgba($color: $black, $alpha: 0.4);
    }
}



// brandingPros Section
.brandingPros {
    background-color: $accent;
    padding: 200px 0 100px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .imgContainer {
        position: relative;
        
    }
    .textCircle {
        position: absolute;
        top: -35%;
        left: -20%;
        width: 50%;
    }
    .brandingDesign {
        display: flex;
        margin-top: 50px;
        text-align: center;
        padding: 20px 120px;
        .branding, .designDevelop {
            padding: 0 20px;
        }
    }
}

// Ecosystem section styling
.ecosystem .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 100px;
    .ecosystemImgText{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 70px;
        .ecoImgContainer img {
            border-radius: 50%;
        }
        .ecotextContainer {
            font-style: italic;
        }
    }
    
}


// featuresOffered section
.featuresOffered {
    height: 100vh;
    background-image: url(../assets/home-4.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    .wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .fa-stack-1x, .fa-stack-2x {
        left: -10px;
        position: absolute;
    }
    span {
        padding-right: 20px;
    }
    .featuresTextBox {
        width: 55%;
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            li {
                flex-basis: 50%;
                display: flex;
                padding: 5px 10px;
                h2 {
                    font-weight: normal;
                }
            }
        }
    }
}

// Vertical line in the center of the page before the team gallery section

.teamGallery {
    position: relative;
    .lineBetweenHeaderMain {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        text-align: center;
        width: 0;
        height: 10vh;
        border: 0.5px solid rgba($color: $black, $alpha: 0.4);
    }
}


//  Team Gallery Section styling

.teamGallery {
    padding: 100px 0;
    h3 {
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;

    }

    .playersText {
        background-color: $whiteTwo;
        display: flex;
        flex-direction: column;
        justify-content: end;
        h2, p {
            padding: 10px 30px;
        }

    }

    .galleryContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 25px;
        .playersImgContainer {
            width: fit-content;
        }
        .galleryChild1 {
            grid-column: 1 / 3;
        }
    }
    .workWithUs {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;

        p {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
    }
}

// viewPorfolio section styling

.viewPorfolio {
    display: flex;
    background-color: $accent;
    .porfolioTextContainer {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        h3 {
            font-weight: normal;
            text-transform: uppercase;
        }
        p {
            opacity: 0.85;
            padding-bottom: 20px;
        }
    }

    .portfolioImgContainer {
        flex-basis: 50%;
    }
    a {
        background-color: $whiteTwo;
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
}