// MEDIA QUERIES

@media (max-width: 1200px) {
    // footer styles
    .footerContent {
        flex-wrap: wrap;
        .contactUs,
        .recentPosts {
            flex-basis: 40%;
        }
        .subscribeNow {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: 100%;
        }
    }     // End of footer styles
    // The tiny triangle on the left of the bubble
    .blogMain .individualComment::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 20%;
        left: 8.5%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 20px solid transparent;
        border-right: 29px solid $whiteTwo;
    } 

}  // END media queries for max width- 1200px

@media (max-width: 1150px) {
    // Home page features section
    .featuresOffered h2, p {
        font-size: .95rem;
    }
    // contact page header (Contact Us) 
    .contactHeader {
        .line, h3 {
            left: 15%;
        }
    }
    // contact page contact details section
    .contactMain {

        .wrapper {
            width: 70%;
        }
    }
}   // END media queries for max width- 1150px

@media (max-width: 1200px) {}

@media (max-width: 1200px) {}

@media (max-width: 1200px) {}