// nav styling
.topNav .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    .defaultNav {
        display: flex;
        ul {
            display: flex;
            // strike through the nav a tags when hover with mouse or focus with keyboard
            li .strike {
                &:hover, &:focus {
                text-decoration: line-through;
                outline: none;
                }
            }
        }
    }
    a {
        padding: 5px 10px;
        text-transform: uppercase;
    }
}

// the counter on the bag
.shopNav, .slideOutMenu {
    .bagCounter {
        position: relative;

        .counter {
            position: absolute;
            top: 20px;
            right: 0px;
            background-color: $accent;
            color: $black;
            padding: 4px 8px;
            border-radius: 50%;
            font-size: 0.5rem;
            font-weight: bold;
        }
    }
}

// Slide out NAV styling 

.slideOutMenu {
    // background-color: rgba($color: $black, $alpha: 0.15);
    max-width: 300px;
    width: 100%;
    height: 100vh;
    position: absolute;
    right: -100vw;
    transition: right 0.4s ease-in-out;

    li {
        padding: 1rem 3rem;
    }

    a {
        text-transform: uppercase;
    }
}

.trigger:checked ~ .slideOutMenu {
    right: 300px;
}

// Styling the checkbox 

.hamburgerMenu {
    position: relative;
    .trigger {
        position: absolute;
        top: 15px;
        right: 20px;
        opacity: 0;
    }
}
