// brandingPros Section
.brandingPros {
    background-color: $lightSage;
    padding: 200px 0 100px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .imgContainer {
        position: relative;
        
    }
    .textCircle {
        position: absolute;
        top: -35%;
        left: -20%;
        width: 50%;
    }
    .brandingDesign {
        display: flex;
        margin-top: 50px;
        text-align: center;
        padding: 20px 120px;
        .branding, .designDevelop {
            padding: 0 20px;
        }
    }
}

// Ecosystem section styling
.ecosystem .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 100px;
    .ecosystemImgText{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 70px;
        .ecoImgContainer img {
            border-radius: 50%;
        }
        .ecotextContainer {
            font-style: italic;
        }
    }
    
}


// featuresOffered section
.featuresOffered {
    height: 100vh;
    background-image: url(../assets/home-4.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    .wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .fa-stack-1x, .fa-stack-2x {
        left: -10px;
        position: absolute;
    }
    span {
        padding-right: 20px;
    }
    .featuresTextBox {
        width: 55%;
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            li {
                flex-basis: 50%;
                display: flex;
                padding: 5px 10px;
                h2 {
                    font-weight: normal;
                }
            }
        }
    }
}

//  Team Gallery Section styling

.teamGallery {
    padding: 100px 0;
    h3 {
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;

    }
    .wrapper {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        padding-top: 80px;
        .playersText {
            // flex-basis: 49%;
            padding: 50px;
            background-color: $whiteTwo;
        }
        .playersImgContainer {
            // flex-basis: 24%;
            padding: 20px;
        }
        .workWithUs {
            // flex-basis: 24%;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 1.2rem;
            p {
                // padding: 10px;
                text-align: center;
            }
        }
    }
}

// viewPorfolio styling

.viewPorfolio {
    display: flex;
    background-color: $lightSage;
    .porfolioTextContainer {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        h3 {
            font-weight: normal;
            text-transform: uppercase;
        }
        p {
            opacity: 0.85;
            padding-bottom: 20px;
        }
    }

    .portfolioImgContainer {
        flex-basis: 50%;
    }
    a {
        background-color: $whiteTwo;
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

// contact page styling

.contactMain {
    .wrapper {
        width: 60%;
    }
    h4 {
        font-weight: bold;
        }
    .needHelp {
        font-size: 0.8rem;
        opacity: 0.9;
        padding-bottom: 10px;
        margin: 0;
    }
    .contactDetails{
        
        .contactPageDetails {
            display: flex;
            justify-content: space-around;
            margin: 50px 0;



            i {
                font-size: 2rem;
                padding-bottom: 20px;
            }
            h4 {
                font-weight: bold;
                text-transform: uppercase;
            }
            .phoneInfo .needHelp {
                padding-top: 20px;
                padding-right: 20px;
            }

            .phoneInfo, .addressInfo, .emailInfo {
                width: calc( 100% / 3 );
            }
            address {
                padding-top: 20px;
            }

            .addressInfo, .emailInfo {
                border-left: 2px rgba($color: $black, $alpha: 0.2) solid;
                padding-left: 30px;
            }
        }
    }
}

.preFooterImg {
    background-image: url(../assets/contact-2.jpeg);
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.blogMain {
    h2 {
        font-weight: bold;
        padding-bottom: 30px;
    }
    .sectionSeperatorLine {
        border: 1px solid rgba($color: $black, $alpha: 0.2);
        margin: 10px 0;
    }
    .wrapper {
        width: 80%;
    }
    .articleBlog{
        padding-top: 50px;
        h3 {
            font-weight: bold;
        }
        .insiteLinks {
            font-size: 1rem;
            
            a {
                font-size: 0.8rem;
                opacity: 0.8;
            }
            
        }
        .authorInfo {
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
            }
            .elementHeading {
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 10px;
                
            }
            .elementInfo {
                opacity: 0.8;
                font-size: 0.8rem;
            }

            .authorImgName {
                display: flex;
                align-items: center;
                .authorImg img {
                    border-radius: 50%;
                }
                .authorNamePosition {
                    padding-left: 10px;
                    
                }
            }
            .dateCategoryTags {
                display: flex;
                align-items: center;
                div {
                    padding: 0 15px;
                }
            }

        }
    }
}

.blogMain {
    article {
        h4 {
            text-transform: none;
        }
        p {
            font-size: 1rem;
            opacity: 0.85;
        }
    }
    .shareIcons {
        display: flex;
        justify-content: space-between;
        width: 15%;
        align-items: center;
        p {
            text-transform: uppercase;
        }
    }
    
}

.blogMain {
    .relatedPosts {
        padding-top: 60px;
        padding-bottom: 60px;
        
        .relatedPostContainers {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            a {
                width: calc( 96% / 3 );
                p {
                    text-transform: uppercase;
                }
            }
        }

    }
}

.blogMain {
    .blogComments {
        padding-bottom: 60px;
        // position: relative;
    }
    .individualComment {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        .commentInfo {
            padding-left: 30px;
            p {
                margin: 0;
            }
        }
        .commentImg img {
            border-radius: 50%;
        }
    }

    // .individualComment::after {
    //     content: '';
    //     position: absolute;
    //     width: 0;
    //     height: 0;
    //     top: 108px;
    //     left: 33px;
    //     border-top: 20px solid transparent;
    //     border-bottom: 20px solid transparent;
    //     border-left: 20px solid transparent;
    //     border-right: 30px solid blue;
    //     border-radius: 30%;
    // }   
}