html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #333333;
}

h1, h2, h3 h4 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.3rem;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

header {
  height: 100vh;
  background-image: url(../assets/home-1.jpeg);
  background-position: center;
  background-size: cover;
}

.topNav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.topNav .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topNav .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topNav .wrapper nav ul .homeStrike {
  text-decoration: line-through;
}
.topNav .wrapper a {
  padding: 5px 10px;
  text-transform: uppercase;
}

.brandingPros {
  background-color: #C3DAB7;
  padding: 200px 0 100px 0;
}
.brandingPros .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brandingPros .imgContainer {
  position: relative;
}
.brandingPros .textCircle {
  position: absolute;
  top: -35%;
  left: -20%;
  width: 50%;
}
.brandingPros .brandingDesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  text-align: center;
  padding: 20px 120px;
}
.brandingPros .brandingDesign .branding, .brandingPros .brandingDesign .designDevelop {
  padding: 0 20px;
}

.ecosystem .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 100px;
}
.ecosystem .wrapper .ecosystemImgText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 70px;
}
.ecosystem .wrapper .ecosystemImgText .ecoImgContainer img {
  border-radius: 50%;
}
.ecosystem .wrapper .ecosystemImgText .ecotextContainer {
  font-style: italic;
}

.featuresOffered {
  height: 100vh;
  background-image: url(../assets/home-4.jpeg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featuresOffered .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featuresOffered .featuresTextBox {
  width: 55%;
}
.featuresOffered .featuresTextBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featuresOffered .featuresTextBox ul li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
}
.featuresOffered .featuresTextBox ul li h2 {
  font-weight: normal;
}

.teamGallery {
  padding: 100px 0;
}
.teamGallery h3 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.teamGallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 80px;
}
.teamGallery .wrapper .playersText {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 50px;
  background-color: #F6F6F6;
}
.teamGallery .wrapper .playersImgContainer {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 20px;
}
.teamGallery .wrapper .workWithUs {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.teamGallery .wrapper .workWithUs p {
  padding: 10px;
  text-align: center;
}

.viewPorfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #C3DAB7;
}
.viewPorfolio .porfolioTextContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}
.viewPorfolio .porfolioTextContainer h3 {
  font-weight: normal;
  text-transform: uppercase;
}
.viewPorfolio .porfolioTextContainer p {
  opacity: 0.85;
  padding-bottom: 20px;
}
.viewPorfolio .portfolioImgContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.viewPorfolio a {
  background-color: #F6F6F6;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
  font-size: 1rem;
}
footer .wrapper {
  padding-bottom: 75px;
}
footer .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer h2 {
  color: #FFFFFF;
  font-size: 1rem;
  padding: 120px 20px 30px 0;
}
footer address, footer p, footer li, footer label {
  font-size: 0.8rem;
}
footer address {
  padding: 5px 0;
}
footer p {
  margin: 0;
  padding: 5px 0;
}

.contactUs .socialIcons i {
  padding: 20px 7px 0 0;
  font-size: 0.8rem;
}

.recentPosts h2 {
  text-align: center;
}
.recentPosts ul {
  list-style: inside;
}

.subscribeNow h2 {
  text-align: right;
  padding-right: 0;
}
.subscribeNow p {
  padding: 0 0 10px 0;
}
.subscribeNow form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.subscribeNow form input {
  padding: 5px;
}
.subscribeNow form input::-webkit-input-placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form input::-moz-placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form input:-ms-input-placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form input::-ms-input-placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form input::placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form button {
  background-color: #C3DAB7;
  -ms-flex-preferred-size: 11%;
      flex-basis: 11%;
  padding: 5px;
}

.copyright {
  border-top: rgba(246, 246, 246, 0.15) solid 2px;
  padding: 50px 0;
}
.copyright h2 {
  text-align: center;
  padding: 0;
}