html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #333333;
}

h1, h2, h3 h4 {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.3rem;
}

h4 {
  text-transform: uppercase;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.topNav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}
.topNav .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topNav .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topNav .wrapper nav ul .homeStrike {
  text-decoration: line-through;
}
.topNav .wrapper a {
  padding: 5px 10px;
  text-transform: uppercase;
}

.shopNav .bagCounter {
  position: relative;
}
.shopNav .bagCounter .counter {
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: #C3DAB7;
  color: #333333;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: bold;
}

header {
  height: 100vh;
  background-image: url(../assets/home-1.jpeg);
  background-position: center;
  background-size: cover;
}

.contactNav {
  padding-bottom: 30px;
}

.contactHeader {
  background-image: url(../assets/contact-1.jpeg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  height: 50vh;
}
.contactHeader .wrapper {
  width: 50%;
  position: relative;
}
.contactHeader .wrapper .line {
  display: block;
  position: absolute;
  border: #333333 solid 1px;
  width: 50px;
  height: 1px;
  top: 60px;
}
.contactHeader h3 {
  font-size: 2.5rem;
  position: absolute;
  font-weight: bold;
  margin: 10px 0 0 0;
  top: 70px;
}

.blogHeader {
  background-image: url(../assets/blog-1.jpeg);
}

main {
  position: relative;
}
main .lineBetweenHeaderMain {
  content: "";
  position: absolute;
  top: -1%;
  left: 50%;
  text-align: center;
  width: 0;
  height: 12vh;
  border: 0.5px solid rgba(51, 51, 51, 0.4);
}

.brandingPros {
  background-color: #C3DAB7;
  padding: 200px 0 100px 0;
}
.brandingPros .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brandingPros .imgContainer {
  position: relative;
}
.brandingPros .textCircle {
  position: absolute;
  top: -35%;
  left: -20%;
  width: 50%;
}
.brandingPros .brandingDesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  text-align: center;
  padding: 20px 120px;
}
.brandingPros .brandingDesign .branding, .brandingPros .brandingDesign .designDevelop {
  padding: 0 20px;
}

.ecosystem .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 100px;
}
.ecosystem .wrapper .ecosystemImgText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 70px;
}
.ecosystem .wrapper .ecosystemImgText .ecoImgContainer img {
  border-radius: 50%;
}
.ecosystem .wrapper .ecosystemImgText .ecotextContainer {
  font-style: italic;
}

.featuresOffered {
  height: 100vh;
  background-image: url(../assets/home-4.jpeg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featuresOffered .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featuresOffered .fa-stack-1x, .featuresOffered .fa-stack-2x {
  left: -10px;
  position: absolute;
}
.featuresOffered span {
  padding-right: 20px;
}
.featuresOffered .featuresTextBox {
  width: 55%;
}
.featuresOffered .featuresTextBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featuresOffered .featuresTextBox ul li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
}
.featuresOffered .featuresTextBox ul li h2 {
  font-weight: normal;
}

.teamGallery {
  position: relative;
}
.teamGallery .lineBetweenHeaderMain {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  width: 0;
  height: 10vh;
  border: 0.5px solid rgba(51, 51, 51, 0.4);
}

.teamGallery {
  padding: 100px 0;
}
.teamGallery h3 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.teamGallery .galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
}
.teamGallery .galleryChild1 {
  grid-column: 1/3;
}
.teamGallery .playersImgContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.teamGallery .playersText {
  background-color: #F6F6F6;
}

.viewPorfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #C3DAB7;
}
.viewPorfolio .porfolioTextContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}
.viewPorfolio .porfolioTextContainer h3 {
  font-weight: normal;
  text-transform: uppercase;
}
.viewPorfolio .porfolioTextContainer p {
  opacity: 0.85;
  padding-bottom: 20px;
}
.viewPorfolio .portfolioImgContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.viewPorfolio a {
  background-color: #F6F6F6;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.contactMain .wrapper {
  width: 60%;
}
.contactMain h4 {
  font-weight: bold;
}
.contactMain .needHelp {
  font-size: 0.8rem;
  opacity: 0.9;
  padding-bottom: 10px;
  margin: 0;
}
.contactMain .contactDetails .contactPageDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 0;
}
.contactMain .contactDetails .contactPageDetails i {
  font-size: 2rem;
  padding-bottom: 20px;
}
.contactMain .contactDetails .contactPageDetails h4 {
  font-weight: bold;
  text-transform: uppercase;
}
.contactMain .contactDetails .contactPageDetails .phoneInfo .needHelp {
  padding-top: 20px;
  padding-right: 20px;
}
.contactMain .contactDetails .contactPageDetails .phoneInfo, .contactMain .contactDetails .contactPageDetails .addressInfo, .contactMain .contactDetails .contactPageDetails .emailInfo {
  width: 32%;
}
.contactMain .contactDetails .contactPageDetails address {
  padding-top: 20px;
  font-style: normal;
}
.contactMain .contactDetails .contactPageDetails .addressInfo, .contactMain .contactDetails .contactPageDetails .emailInfo {
  border-left: 2px rgba(51, 51, 51, 0.2) solid;
  padding-left: 30px;
}

.preFooterImg {
  background-image: url(../assets/contact-2.jpeg);
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.blogMain h2 {
  font-weight: bold;
  padding-bottom: 30px;
}
.blogMain .sectionSeperatorLine {
  border: 1px solid rgba(51, 51, 51, 0.2);
  margin: 10px 0;
}
.blogMain .wrapper {
  width: 80%;
}
.blogMain .articleBlog {
  padding-top: 50px;
}
.blogMain .articleBlog h3 {
  font-weight: bold;
}
.blogMain .articleBlog .insiteLinks {
  font-size: 1rem;
}
.blogMain .articleBlog .insiteLinks a {
  font-size: 0.8rem;
  opacity: 0.8;
}
.blogMain .articleBlog .authorInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogMain .articleBlog .authorInfo p {
  margin: 0;
}
.blogMain .articleBlog .authorInfo .elementHeading {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}
.blogMain .articleBlog .authorInfo .elementInfo {
  opacity: 0.8;
  font-size: 0.8rem;
}
.blogMain .articleBlog .authorInfo .authorImgName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogMain .articleBlog .authorInfo .authorImgName .authorImg img {
  border-radius: 50%;
}
.blogMain .articleBlog .authorInfo .authorImgName .authorNamePosition {
  padding-left: 10px;
}
.blogMain .articleBlog .authorInfo .dateCategoryTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogMain .articleBlog .authorInfo .dateCategoryTags div {
  padding: 0 15px;
}

.blogMain article h4 {
  text-transform: none;
}
.blogMain article p {
  font-size: 1rem;
  opacity: 0.85;
}
.blogMain .shareIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogMain .shareIcons p {
  text-transform: uppercase;
}

.blogMain .relatedPosts {
  padding-top: 60px;
  padding-bottom: 60px;
}
.blogMain .relatedPosts .relatedPostContainers {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogMain .relatedPosts .relatedPostContainers a {
  width: 32%;
}
.blogMain .relatedPosts .relatedPostContainers a p {
  text-transform: uppercase;
}

.blogMain .blogComments {
  padding-bottom: 60px;
}
.blogMain .individualComment {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogMain .individualComment .commentInfo {
  padding-left: 30px;
}
.blogMain .individualComment .commentInfo p {
  margin: 0;
}
.blogMain .individualComment .commentImg img {
  border-radius: 50%;
}

.contactForm {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactForm input, .contactForm textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  line-height: 1.2;
  font-size: 0.8rem;
}
.contactForm input::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  line-height: 1.2;
  font-size: 0.8rem;
}
.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  line-height: 1.2;
  font-size: 0.8rem;
}
.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  line-height: 1.2;
  font-size: 0.8rem;
}
.contactForm input::placeholder, .contactForm textarea::placeholder {
  line-height: 1.2;
  font-size: 0.8rem;
}
.contactForm input:focus, .contactForm textarea:focus {
  border-bottom: 1px solid #333333;
}
.contactForm input {
  width: 32.3333333333%;
  padding: 10px 0;
  margin-bottom: 20px;
}
.contactForm textarea {
  width: 100%;
}
.contactForm button {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #333333;
}

.commentContactForm .wrapper {
  width: inherit;
}
.commentContactForm .contactForm {
  padding-top: 35px;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
  font-size: 1rem;
}
footer .wrapper {
  padding-bottom: 75px;
}
footer .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer h2 {
  color: #FFFFFF;
  font-size: 1rem;
  padding: 120px 20px 30px 0;
}
footer address, footer p, footer li, footer label {
  font-size: 0.8rem;
}
footer address {
  padding: 5px 0;
  font-style: normal;
}
footer p {
  margin: 0;
  padding: 5px 0;
}

.contactUs .socialIcons i {
  padding: 20px 7px 0 0;
  font-size: 0.8rem;
}

.recentPosts h2 {
  text-align: center;
}
.recentPosts ul {
  list-style: inside;
}
.recentPosts ul li {
  padding-bottom: 5px;
}

.subscribeNow h2 {
  text-align: right;
  padding-right: 0;
}
.subscribeNow p {
  padding: 0 0 10px 0;
}
.subscribeNow form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.subscribeNow form input {
  padding: 5px;
}
.subscribeNow form input::-webkit-input-placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form input::-moz-placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form input:-ms-input-placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form input::-ms-input-placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form input::placeholder {
  font-size: 0.75rem;
  color: black;
}
.subscribeNow form button {
  background-color: #C3DAB7;
  -ms-flex-preferred-size: 11%;
      flex-basis: 11%;
  padding: 5px;
}

.copyright {
  border-top: rgba(246, 246, 246, 0.15) solid 2px;
  padding: 50px 0;
}
.copyright h2 {
  text-align: center;
  padding: 0;
}